    

<div class="m-user-function-form m-user-function-form--vertical-align-top">

    <div class="cell">

        <div class="title">
            <h1>Marblewald Secondary College</h1>
        </div>

        <div class="wrap">

            <div class="collections">

                <h2>Collections</h2>

                <ul>
                    <li>
                        <a href="#">
                            <h4>Sed eleifend metus sed malesuada</h4>
                            <p>Donec convallis id elit id vulputate. Pellentesque urna metus, facilisis in dui id, condimentum rhoncus purus. Phasellus at nunc non.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h4>Mauris vel urna volutpat, tempor est id, malesuada nisl. Mauris.</h4>
                            <p>Nam tempor bibendum nibh, sagittis maximus ex mollis eget. Curabitur iaculis ante a arcu consectetur, ac malesuada est congue. Praesent.</p>
                        </a>
                    </li>
                </ul>

            </div>

        </div>

        <div class="wrap">

            <h2>Members</h2>

            <div class="members-list">

                <ul>
                    <li>Dan Finch</li>
                    <li>Lynne Walters</li>
                    <li>Robert Rawling</li>
                </ul>

            </div>






        </div>

        <div class="wrap"> 


            <h2>Actions</h2>

            <div class="form">

                <h3>Send an invite</h3>

                <div class="field">
                    <label>Username or email</label>
                    <input type="text">
                </div>

                <div class="actions">
                    <input type="submit" value="Send invite">
                </div>

            </div>

            <div class="delete-team">

                <h3>Delete this team</h3>

                <p>Ut magna diam, rutrum ut dolor quis, scelerisque dictum magna. Donec lacus dui, egestas vel varius in, dictum sed ante.</p>

                <div class="actions">
                    <input type="submit" value="Delete team">
                </div>

            </div>

        </div>

    </div>

</div>


