
/* Beta */

.m-beta {
  min-height: 302px;
  background:#35f5c8;
  text-align:center;
  color:white;
  font-size: 2.2em;
  font-weight: 700;
  padding: 2em 2.5em 1.1em 2.5em;
  float:left;
  width:50%;
}