
/* Get involved */

.m-get-involved {
  clear:both;
  padding:1.7em
}

.m-get-involved > div {
  padding: 5.5em;
  float:left;
}

.m-get-involved .intro {
  width:40%;
}

.m-get-involved .cta {
  width:30%;
}

.m-get-involved a {
  padding: 0.3em 1em 0.5em;
  margin-top: 0.6em;
  margin-left: -4px;
  display: inline-block;
  /* letter-spacing: 1px; */
  border-radius: 100px;
  background: #35f5c8;
  border: 0;
  color: #0e5645;
  /* font-weight: 700; */
  text-transform: uppercase;
}

.m-get-involved h2 {
  font-size: 2.3em;
  color:#8fa7a1;
  margin-top: 0;
}

.m-get-involved h3 {
  color:#86c72f;

}