
/* Latest pins */

.m-latest-pins {
	float:left;
  width:50%;
  padding: 80px;
}

.m-latest-pins h3 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight:500;
  margin-top:0;
}

.m-latest-pins ul {
  @include unlist;
}

.m-latest-pins li {
  width:33.333333%;
  float:left;
}

.m-latest-pins li:nth-child(3n+4) {
  clear:left;
}

.m-latest-pins li a {
  display:block;
  background: asset-url('pin-red.png') center 25px/60px auto no-repeat;
  text-align: center;
  padding-top:100px;
  padding-bottom:20px;
  font-weight: 700;
  @include transition(all .2s);
}

.m-latest-pins li a:hover {
  @include transform(scale(1.2));
}