
/* Main navigation */

.m-main-navigation {
	@include clearfix;
  position:absolute;
  text-align:right;
  width:100%;
}

.m-main-navigation ul {
  padding:0;
  margin:38px 80px 0 240px;
}

.m-main-navigation li {
  display:inline-block;
  margin:0 0 0 2em;
}

.m-main-navigation li a {
  color:white;
  font-weight:bold;
  position:relative;
  bottom:0;
  @include transition(all .2s);
  border-bottom: 2px solid transparent;
}

.m-main-navigation li a:hover {
  bottom:3px;
  border-bottom: 2px solid white;
}
