
/* User function form */

.m-user-function-form {
  background: asset-url('hero-6.jpg') center/cover;
  height:100%;
  display:table;
  width:100%;
  height:100%;
  min-height:740px;
}

.m-user-function-form .cell {
  display:table-cell;
  padding: 110px 10px 60px;
  text-align:center;
  vertical-align: middle;
}

.m-user-function-form--vertical-align-top .cell {
  vertical-align:top;
}

.m-user-function-form .wrap {
  max-width:400px;
  width:100%;
  padding:40px;
  margin:20px;
  vertical-align: middle;
  background:$lol-mint;
  display:inline-block;
  text-align:left;
}

.m-user-function-form--vertical-align-top .wrap {
  vertical-align:top;
}

.m-user-function-form .form {
  @include clearfix;
}

.m-user-function-form .form--gap {
  margin-bottom:1em;
}

.m-user-function-form h2 {
  margin-top:0;
  color:white;
  text-align: center;
  font-size:2em;
}

.m-user-function-form h3 {
  font-size: 1.1em;
  margin: 0 0 1em 0;
  background: #42c5a7;
  padding: 3px 6px;
  display: inline-block;
  color: white;
}

.m-user-function-form a {
  color: #59a11a;
  color:#61ab00;
}

.m-user-function-form a:hover {
  color: #5c6562;
}

.m-user-function-form .field {
  margin-bottom:1em;
}

.m-user-function-form input {
  width:100%;
}

.m-user-function-form label {
  text-transform: uppercase;
  margin-bottom: 6px;
  display: block;
}

.m-user-function-form .surtitle {
  text-transform: uppercase;
  margin-bottom: 6px;
  display: block;
  text-align:center;
}

.m-user-function-form .field--single-checkbox {
  padding-left:20px;
}

.m-user-function-form .field--single-checkbox label {
  text-transform: none;
}

.m-user-function-form .field--single-checkbox input {
  float: left;
  margin-left: -20px;
  margin-top: 4px;
  width: auto;
}

.m-user-function-form input[type="submit"] {
  background:#bbff61;
  color:#477a1a;
  @include transition(all .2s);

  border-radius: 200px;
  float: right;
  width: auto;
}

.m-user-function-form input[type="submit"]:hover {
  background:darken(#42c5a7, 30%);
  color:white;
}

.m-user-function-form .links a {
  display:block;
  margin-bottom:0.5em;
  color:#398571;
}

.m-user-function-form .links a:last-child {
  margin-bottom:0;
}

.m-user-function-form .links > *:first-child {
  margin-top:30px;
}

.m-user-function-form  ul {
  margin:0;
  padding:0;
  padding-left: 18px;
  list-style: square;
}

.m-user-function-form  ul li {
  margin-bottom:0.5em;
}

.m-user-function-form .cancel {
  margin-top:2.4em;
  clear:both;
}

.m-user-function-form .teams-list {
  margin-bottom:2.4em;
}

.m-user-function-form .notes {
  margin-bottom:2.4em;
}

.m-user-function-form .notes h4 {
  margin-bottom:0;
}

.m-user-function-form .notes p {
  margin-top:0;
}

.m-user-function-form .invitations {
  margin-bottom:2.4em;
}

.m-user-function-form .invitations a {
  float:right;
  margin-left:10px;
}

.m-user-function-form .title h1 {
  color:$lol-green;
  font-size: 3em;
}

.m-user-function-form .collections h4 {
  margin-bottom:0;
}

.m-user-function-form .collections p {
  margin-top:0;
}

