
/* User function form */

.m-user-function-form {
	//background:#333;
  background: asset-url('hero-4.jpg') center/cover;
  height:100%;
  display:table;
  width:100%;
  height:100%;
  min-height:740px;
}

.m-user-function-form .inner {
  display:table-cell;
  vertical-align: middle;
  padding: 80px 0 60px;
}

.m-user-function-form .form {
  width:400px;
  padding:40px;
  background:$lol-mint;
  margin:0 auto;
}

.m-user-function-form h2 {
  margin-top:0;
  color:white;
  text-align: center;
  font-size:2em;
}

.m-user-function-form .field {
  margin-bottom:1em;
}

.m-user-function-form input {
  width:100%;
}

.m-user-function-form label {
  text-transform: uppercase;
  margin-bottom: 6px;
  display: block;
}

.m-user-function-form .field--single-checkbox {
  padding-left:20px;
}

.m-user-function-form .field--single-checkbox label {
  text-transform: none;
}

.m-user-function-form .field--single-checkbox input {
  float: left;
  margin-left: -20px;
  margin-top: 4px;
  width: auto;
}

.m-user-function-form input[type="submit"] {
  background:#42c5a7;
  color:white;
  @include transition(all .2s);
}

.m-user-function-form input[type="submit"]:hover {
  background:darken(#42c5a7, 30%);
}

.m-user-function-form .links a {
  display:block;
  margin-bottom:0.5em;
  color:#398571;
}

.m-user-function-form .links a:last-child {
  margin-bottom:0;
}

.m-user-function-form .links > *:first-child {
  margin-top:30px;
}


