<% content_for :template do %>

<div class="m-page-hero">
    <div class="text-content">
        <h1>Teachers & schools</h1>
        <p>Search, compare and contribute to the many historic maps of one of the world’s greatest cities.</p>
    </div>
</div>

<main class="main--content">

    <div class="m-blog-article-list">
        <ul>
            <li>
                <a href="#">
                    <h3>Cras tincidunt leo nisl, quis venenatis</h3>
                    <p>Donec vestibulum tempus augue, ac scelerisque mauris sagittis quis. Sed quis mollis diam, vitae euismod leo. Donec bibendum tristique augue.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>Cras tincidunt leo nisl, quis venenatis</h3>
                    <p>Donec vestibulum tempus augue, ac scelerisque mauris sagittis quis. Sed quis mollis diam, vitae euismod leo. Donec bibendum tristique augue.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>Cras tincidunt leo nisl, quis venenatis</h3>
                    <p>Donec vestibulum tempus augue, ac scelerisque mauris sagittis quis. Sed quis mollis diam, vitae euismod leo. Donec bibendum tristique augue.</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>Cras tincidunt leo nisl, quis venenatis</h3>
                    <p>Donec vestibulum tempus augue, ac scelerisque mauris sagittis quis. Sed quis mollis diam, vitae euismod leo. Donec bibendum tristique augue.</p>
                </a>
            </li>
        </ul>
    </div>


</main>

<div class="m-wrap m-wrap--green">
    <div class="m-blog-highlights">
        <h3>Latest insights from the blog</h3>
        <h4>Ways to help document the evolving history of London</h4>
        <p>In ullamcorper velit dolor, eget cursus odio mattis a. Fusce ut pharetra risus. Duis eget ipsum lacinia, auctor sem in.</p>
        <a class="button" href="#">Read more blog posts</a>
    </div>
    <div class="m-latest-pins">
        <h3>Latest pins</h3>
        <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </div>
</div>

<% end %>

<%= render template: "layouts/application" %>