<% content_for :template do %>

<div class="m-page-hero">
    <div class="text-content">
        <h1>Blog</h1>
        <p>Vestibulum iaculis suscipit orci sit amet eleifend. Praesent tincidunt nisi risus, sit.</p>
    </div>
</div>

<main class="main--content">

    <div class="m-article">
        <div class="m-blog-article-list">
            <ul>
                <li>
                    <a href="#">
                        <h3>Cras tincidunt leo nisl, quis venenatis</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc ornare cursus sollicitudin. In vulputate nisl nunc, sit amet lacinia erat molestie convallis. Maecenas non urna euismod nisl vulputate congue at non turpis. Maecenas facilisis neque turpis, sit amet consequat mi blandit id.</p>
                        <a href="#" class="button">Read more</a>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Aliquam blandit non leo at finibus. Ut mollis quam vestibulum.</h3>
                        <p>Sed vulputate turpis in metus tempus imperdiet. Nunc efficitur nunc nunc, sed fringilla leo lobortis quis. In iaculis egestas lacinia. Sed tempor, justo in maximus vestibulum, ex erat tristique lacus, nec iaculis ipsum dui non dolor.</p>
                        <a href="#" class="button">Read more</a>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Cras eu vehicula arcu, id ultrices magna. Sed ut orci eu nibh pharetra.</h3>
                        <p>Sed sed est placerat, ultricies massa in, fringilla lacus. Aliquam tristique neque leo, in imperdiet eros ullamcorper accumsan. Aliquam mollis elit id laoreet scelerisque.</p>
                        <a href="#" class="button">Read more</a>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing.</h3>
                        <p>Maecenas non urna euismod nisl vulputate congue at non turpis. Maecenas facilisis neque turpis, sit amet consequat mi blandit id. Suspendisse mattis commodo sagittis.</p>
                        <a href="#" class="button">Read more</a>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</main>

<div class="m-wrap m-wrap--green">
    <div class="m-blog-highlights">
        <h3>Latest insights from the blog</h3>
        <h4>Ways to help document the evolving history of London</h4>
        <p>In ullamcorper velit dolor, eget cursus odio mattis a. Fusce ut pharetra risus. Duis eget ipsum lacinia, auctor sem in.</p>
        <a class="button" href="#">Read more blog posts</a>
    </div>
    <div class="m-latest-pins">
        <h3>Latest pins</h3>
        <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </div>
</div>

<% end %>

<%= render template: "layouts/application" %>