<p>This renders the show() methods of PagesController, generally every page on the site except the homepage. It is available in <%= __FILE__ %></p>
<p>The title of this page is <%= @page.try(:title).try(:html_safe) %></p>

