# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d5cc9e857c59d3ca392a21789ebc745951c5477f6c5eb870de99c723aa406e90d6a2f0ba76f02596ed5b5407785f4b9f1861511d23be4b13651f3f20c2a2e64d
  rooftop_site:
    yoursite
  rooftop_api_token:
    yourkey
test:
  secret_key_base: 6f0730663d9bc698d3fb6d219459352ffbaa55499d1fe8e3c70b4cf1f16c80dc127a09eee2d912b39f9c8c28b00f6beb67757685511792e264d507e2d22d0b96

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
