
/* Panels */

.m-panels {
  clear: both;
}

.m-panels .tabs {
  @include unlist;
  @include clearfix;
  background: #eee;
  padding-top:6px;
}

.m-panels .tabs li {
  float:left;
  margin-right:1px;
}

.m-panels .tabs li.ReactTabs__Tab--selected a {
  background:white;
}

.m-panels .tabs li.ReactTabs__Tab--selected a {
  background:white;
}

.m-panels .tabs li a {
  background:#ddd;
  padding:10px;
  display: block;
}

.m-panels .tabs li a:focus {
  outline:none;
}

//override ReactTabs styles
.react-tabs [role=tablist] {
  border: none;
}

.react-tabs [role=tab] {
  border: none;
}

.react-tabs [role=tab].ReactTabs__Tab {
  border-radius: 0;
  padding: 0;
}
