
/* Panels */

.m-panels {
  clear: both;
}

.m-panels .tabs {
  @include unlist;
  @include clearfix;
  background: #eee;
  padding-top:18px;
}

.m-panels .tabs li {
  float:left;
  margin-right:1px;
}

.m-panels .tabs li.ReactTabs__Tab--selected a {
  background:white;
  color:#222;
}


.m-panels .tabs li a {
  background:#ddd;
  padding:10px 20px;
  display: block;
  border-radius:6px 6px 0 0;
  @include transition(all .2s);
  font-weight:bold;
}

.m-panels .tabs li a:hover {
  background:#ccc;
}

.m-panels .tabs li.ReactTabs__Tab--selected a:hover {
  background:white;
}

.m-panels .tabs li a:focus {
  outline:none;
  color:#222;
}

//override ReactTabs styles
.react-tabs [role=tablist] {
  border: none;
}

.react-tabs [role=tab] {
  border: none;
}

.react-tabs [role=tab].ReactTabs__Tab {
  border-radius: 0;
  bottom: 0;
  padding: 0;
}

.react-tabs [role=tab].ReactTabs__Tab {
  background:none;
}