
/* Popover */

.m-popover {
  position:absolute;
  left:50%;
  bottom:10px;
  width:250px;
  @include transform(translate3d(-50%, 0, 0));
  background:white;
  padding:20px;
  z-index: 10;
  border:2px solid $blue;
}

.m-popover .window {
  height:200px;
  overflow:scroll;
}

.m-popover ul {
  @include element-list;
}

.m-popover > h3:first-child {
  margin-top:0;
  display: inline-block;
  margin-right:5px;
}

.m-popover > p:last-child {
  margin-bottom:0;
}

.m-popover > h3:first-child + p {
  margin-top:0;
}