
/* Update */

.m-update {
	position:absolute;
  top:10px;
  right:10px;
}

.m-update button {
  background:white;
  border-radius:6px;
  border:2px solid $blue;
  color:$blue;
  padding:10px;
  @include transition(all .2s);
}

.m-update button[disabled] {
	opacity: 0.2;
}

.m-update button:hover {
  background:$blue;
  color:white;
}
