<p>
    The <strong><%= @content_entry.content_type.name %></strong> content entry associated with <strong><%= @content_entry.pin.title %></strong> has been flagged.
</p>

<p>
    <%= link_to "Sign in", new_user_session_url %> to fix or remove this content.
</p>
