<p>
    The georeferenced tile <strong><%= @georeferenced_overlay %></strong> has been flagged as inaccurate.
</p>

<p>
    You can amend the datapoints for that image <%= link_to "here", "http://layersoflondon.georeferencer.com/map/#{@georeferenced_overlay}/georeference" %>.
</p>
