<p>
    The georeferenced tile <strong><%= @georeferenced_overlay %></strong> has been flagged as inaccurate.
</p>

<p>
    You can amend the datapoints for that image <%= link_to "here", "http://georeferencer.tileserver.com/c9ea84f964c130664b2b197ce56b1db1e83d9d6b/map/#{@georeferenced_overlay}#affine" %>.
</p>
