<footer class="m-site-footer">

    <nav class="footer-navigation">
        <%= menu_for @footer_navigation_menu %>
    </nav>

    <div class="sponsors">
        <ul>
            <li><a href="#"><%= image_tag("logo-sas.jpg") %></a></li>
            <li><a href="#"><%= image_tag("logo-lottery.jpg") %></a></li>
            <li><a href="#"><%= image_tag("logo-ihr.png") %></a></li>
        </ul>
    </div>

</footer>