
/* Colors */

/* $white: #ffffff;
$black: #000000;
$gray: #656565;
$text-gray: #494949;

$red: #e32f12;
$yellow: #ffe400;
$blue: #2d81ff;

$green: #00b361;
$purple: #6835ac;
$pink: #eb43a2; */


$green:#96cc3a;

$red:#ff0031;

$orange:#ff6d00;

$navy:#293c59;
$yellow:#fff200;
$blue:#0381ff;

