
/* Article */

.m-article {
	
  font-size: 18.1px;
  line-height: 1.5;

  @include mq(tablet) {
    font-size: 16.1px;
  }
  @include mq(smartphone) {
    font-size: 14.1px; 
  }

  ul,
  ol,
  blockquote {
    margin: 0;
    padding: 0;
  }

  /* Typography */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight:500;
  }

  h1 {
    margin: 1.2em 0 0.6em 0;
    font-size: 2.5em;
  }

  h2 {
    margin: 1.2em 0 0 0;
    font-size: 2em;
  }

  h3 {
    margin: 1.2em 0 0 0;
    font-size: 1.5em;
  }

  h4 {
    margin: 1.2em 0 0 0;
    font-size: 1em;
    color: $red;
  }

  h5 {
    margin: 1.2em 0 0 0;
    font-size: .9em;
    text-transform: uppercase;
  }

  h6 {
    margin: 1.2em 0 0 0;
    font-size: .8em;
    text-transform: uppercase;
    opacity: .9;
  }

  p,
  ol,
  ul,
  table,
  pre,
  dd {
    margin: 1em 0;
  }

  ol,
  ul,
  blockquote,
  pre {
    margin-left: 1em;
  }

  ol,
  ul {
    list-style-position: inside;
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 1.8em;
  }

  li {
    margin-bottom:0.5em;
  }

  ol ol,
  ul ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1.5em;
    list-style-type: circle;
  }

  ol {
    list-style-type: decimal;
  }

  ol ol {
    list-style-type: lower-latin;
  }

  a,
  a:visited {
    color: $blue;
    @include transition(color .2s);
  }
  a:hover {
    color: blue;
  }

  blockquote {
    padding: 5px 25px 5px 0;
  }
  blockquote p {
    padding-left: 25px;
    border-left: 2px solid #eee;
    color:orange;
    font-size: 1.4em;
    font-weight:200;
  }

  // Table styling 

  table {
    //-top: 1px solid #b4b4b4;
    //border-left: 1px solid #b4b4b4;
  }
  table th {
    font-weight: 500;
    border-bottom: 1px solid #bbb;
  }
  table th,
  table td {
    padding: 5px 7px;
    //border-right: 1px solid #b4b4b4;
    //border-bottom: 1px solid #b4b4b4;
  }

  // Definition list

  dt {
    margin: 0;
    padding: 0;
    font-weight: bold;
  }

  dd {
    padding: 0;
  }

  b, strong {
    font-weight:700;
  }

}