
/* Date filter */

.m-date-filter {
  float:left;
  width:40%;
  color:#00634e;
}

.m-date-filter h2 {
  @include module-title;
  text-align:center;
  margin-bottom: 20px;
}

.m-date-filter .slider-container {
  padding-left: 12px;
} 

.m-date-filter .slider-container .scale {
  display: none;
} 

.m-date-filter .slider-container .back-bar .pointer-label {
  font-size: 12px;
  top: -21px;
  background:transparent;
}

.m-date-filter .theme-green .back-bar .selected-bar {
  background:#00c48f;
}

.m-date-filter .theme-green .back-bar {
  height: 2px;
}

.m-date-filter .theme-green .back-bar .pointer-label {
  color:#00634e;
  font-weight: 700;
}