
/* Custom galleries */

.m-gallery {
  background: rgba(255,255,255, 0.95);
  position: absolute;
  z-index: 1001;

  height: auto;
  width: auto;

  max-height: 500px;
  max-width: 800px;
  min-width: 300px;
  min-height: 250px;

  display: none;
}

.m-gallery-content {
  color: #000;
}


/* Blueimp gallery styles */

// make the gallery popover appear more modal-like
#blueimp-gallery.blueimp-gallery {
  height: auto;
  width: 100%;

  max-height: 60%;
  max-width: 1000px;
  margin: auto;

  background: rgba(255,255,255, 1);
  //border-radius: 3px;
/*   -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5); */
  @include shadow;
}

#blueimp-gallery.blueimp-gallery .slides .slide {
  //padding-left: 50px;
}

#blueimp-gallery.blueimp-gallery .slides {
  width: 70% !important;
  float: right;
}
#blueimp-gallery.blueimp-gallery .slides .slide {
  text-align: left;
  width: 100% !important;
}
#blueimp-gallery.blueimp-gallery .slides .slide .slide-content {
  margin: auto;
  padding: 0;
  width: auto;
}

#blueimp-gallery.blueimp-gallery .slides .slide .slide-content.video-content {

}

#blueimp-gallery.blueimp-gallery > .close {
  color: #000;
  text-shadow: none;
  top: 8px !important;
  right: 16px !important;
}

.blueimp-gallery-controls > .description {
  display: block;
}
.blueimp-gallery video {
  background: #000;
}

video[src$='audio=true'] {
  display: block !important;
}

// additional ui elements

.m-note-metadata {
  width: 25%;
  max-height:100%;
  overflow:auto;
}

.m-note-metadata .title {
  font-size: 1.6em;
}

.m-note-metadata .description {
  font-size:0.9em;
}

.m-note-metadata > *:first-child {
  margin-top:0;
}

.m-note-text-content {
  max-height:100%;
  overflow: auto;
  font-size:1.2em;
  padding-right: 30px;
}

.m-note-text-content p:empty {
  display:none;
}

.m-note-text-content p {
  margin: 0;
  padding-bottom: 1em;
}

.m-note-metadata a:hover {
  cursor: pointer;
}

.flag-content {
  color: $red;
}
