
/* Custom galleries */

.m-gallery {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 1001;
  height: 100%;
  width: 100%;

  top: 0; left: 0;

  display: none;
}

.m-gallery-content {
  color: #fff;
}
