
/* Overlays list */

.m-overlays-list {
	background:#2d527c;
  float:right;
  width: 10%;
  height: 100%;
  position:relative
}

.m-overlays-list .overlays-results {
  border-left: 1px solid #fbfbfb;
  @include unlist;
  @include element-list;
  position: absolute;
  z-index: 1000000;
  background: white;
  top: 93px;
  right: 11px;
  padding: 20px;
  width:200%;
  @include shadow;
}

.m-overlays-list .overlays-results:before {
  content:"";
  position:absolute;
  left: 80%;
  top:-20px;
  margin-left:-20px;
  width:0;
  height:0;
  display:block;
  border:0;
  border-left:20px solid transparent;
  border-right:20px solid transparent;
  border-bottom:20px solid white;
}

.m-overlays-list .overlays-results li {
  clear: both;
}

.m-overlays-list .overlays-results form {
  height: 0;
}

.m-overlays-list .overlays-results h3 {
  color:$lol-navy;
}

.m-overlays-list .show-overlays {
  color:white;
  text-transform:uppercase;
  height: 100%;
  width:100%;
  display:block;
  padding:24px 10px 10px 10px;
  text-align:center;
  cursor:pointer;
  @include transition(all .2s);
  background:darken($lol-navy, 10%);
}

.m-overlays-list .show-overlays i {
  display:block;
}

.m-overlays-list .show-overlays:hover {
  background:lighten($lol-navy, 10%);
}

.m-overlays-list .overlays-results .m-overlay-opacity-control {
  padding: 0 0 25px 35px;
}