
/* Overlays list */

.m-overlays-list {
	background:#2d527c;
  float:right;
  width:20%;
  height: 100%;
}

.m-overlays-list .overlays-results {
  @include unlist;
  @include element-list;
  position: absolute;
  background: white;
  top: 93px;
  right: 21px;
  padding: 20px;
}

.m-overlays-list .overlays-results:before {
  content:"";
  position:absolute;
  left:50%;
  top:-20px;
  margin-left:-20px;
  width:0;
  height:0;
  display:block;
  border:0;
  border-left:20px solid transparent;
  border-right:20px solid transparent;
  border-bottom:20px solid white;
}

.m-overlays-list .overlays-results form {
  height: 0;
}

.m-overlays-list .overlays-results h3 {
  color:$lol-navy;
}

.m-overlays-list .show-overlays {
  color:white;
  text-transform:uppercase;
  height: 100%;
  width:100%;
  display:block;
  padding:30px 10px 10px 10px;
  text-align:center;
  cursor:pointer;
  @include transition(all .2s);
  background:$lol-navy;
}

.m-overlays-list .show-overlays:hover {
  background:lighten($lol-navy, 10%);
}