
/* List view */

.m-search-panel {
  float:left;
  width:75%;
}

.m-search-panel {
  padding:15px;
}

.m-search-panel ul {
  @include unlist;
  @include element-list;
}

.m-search-panel .free-text {
  @include clearfix;
  float:left;
  width:40%;
  padding-right:15px;
}
@supports (width:calc(100% - 464px)) {
  .m-search-panel .free-text {
    width:calc(100% - 464px);
  }
}

.m-search-panel .m-date-filter {
  float:left;
  width:40%;
  width: 290px;
}

.m-search-panel input[type="text"] {
  background:white;
  border:0;
  font-size: 1.6em;
  padding: 0.5em 0.7em 0.6em;
}

// Results popover

.m-search-panel .results {
  position: absolute;
  background: white;
  padding: 20px;
  top: 93px;
  left: 21px;
  width:300px;
  z-index: 1001;
  overflow:hidden;
}

.m-search-panel .results-pins,
.m-search-panel .results-notes {
  display:inline;
}

.m-search-panel .results-pins ul,
.m-search-panel .results-notes ul {
  overflow:scroll;
}

.m-search-panel .results div ul {
  display: none;
  max-height: 43.6%;
  background: #eee;
  margin-bottom:20px;
}

.m-search-panel .results.is-visible {
  //height: auto;
  height:2000px;
}

.m-search-panel .results.is-visible div ul {
  display: block;
}

.m-search-panel .results button.toggle-visibility {
  background: #fff;
  float: right;
  color: #000;
  margin: -14px -2px 0 0;
  width: 20px;
  padding: 12px;
  font-size: 1em;
}

.m-search-panel .results button.toggle-visibility:focus {
  outline:none;
}

.m-search-panel .results button.toggle-visibility:after {
  font-family: 'FontAwesome';
  content: "\f0d7";
}

.m-search-panel .results.is-visible button.toggle-visibility:after {
  font-family: 'FontAwesome';
  content: "\f0d8";
}

.m-search-panel .results:before {
  content:"";
  position:absolute;
  left:50%;
  top:-20px;
  margin-left:-20px;
  width:0;
  height:0;
  display:block;
  border:0;
  border-left:20px solid transparent;
  border-right:20px solid transparent;
  border-bottom:20px solid white;
}

.m-search-panel .results .results-pins {
  margin-bottom: 18px;
}

.m-search-panel .results .results-pins li {
  padding-left: 0;
}

.m-search-panel .results .results-pins li h3  {
  color: #c0392b;
}

.m-search-panel .results h3 {
  margin-top:0;
}

.m-search-panel button {
  padding: 11px 20px;
  background:#008365;
  border:0;
  color:white;
  float: right;
  font-size:1.5em;
  font-weight: bold;
  @include transition(all .2s);
  margin-left:10px;
  width: 150px;
}

.m-search-panel button:hover {
  background:lighten(#008365, 10%);
}
