
/* Type filter */

.m-type-filter .form-group {
  float:left;
  margin-right:10px;
}

.m-type-filter h2 {
  @include module-title;
}

.m-type-filter .form-group .form-check {
  display:inline-block;
  padding:10px;
  background:#eee;
  margin-right:-4px;
}